## Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build directories
build/
*.pdf
!images/*.pdf
!title.pdf
!preparations/*.pdf
!thesis/meta/*.pdf
!thesis/assets
!thesis/lib/vak/*.pdf
!thesis/lib/*.pdf

## Backup files
*~
*.backup
*.bak

## Editor files
.vscode/
*.swp
*.swo
*~
